@media screen and (max-width: 1600px) and (min-width: 1201px) {
  body {
    overflow: hidden;
  }

  .section1 {
    margin: 100px 0 0 100px;
  }

  .section1 h1 {
    font-size: 36px;
    line-height: 38px;
    text-transform: uppercase;
    max-width: 800px;
    margin-bottom: 10px;
  }

  h5 {
    height: 30px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    top: 24px;
  }

  .video1 {
    /* max-width: 100vw; */
  }

  .quiz {
    margin: none;
    left: 0;
    top: 0;
  }

  .question {
    height: auto;
  }

  .answers,
  .vopros,
  .num {
    margin-left: -100px;
    max-width: 117vw;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  /* .section1 { */
  /* margin: 50px 0 0 80px; */
  /* } */

  .video {
    min-width: 150vw;
  }

  .section1 h1 {
    font-size: 36px;
    line-height: 38px;
    text-transform: uppercase;
    max-width: 800px;
    margin-bottom: 10px;
  }

  .p1 {
    font-size: 20px;
    line-height: 25px;
  }

  .p2 {
    font-size: 14px;
    line-height: 16px;
    /* max-width: 200px; */
  }

  .video1 {
    position: absolute;
    /* width: 900px; */
    height: auto;

    top: 0 !important;
    min-width: 90vw !important;
    /* min-height: 900vh !important; */
    z-index: -100;
  }

  /* .quiz {
    grid-template-rows: 10% 1fr 30px;
  }

  .quiz-wrapper {
    max-width: 800px;
  } */

  .quiz-head {
    max-width: 1200px !important;
    width: 100%;
    font-size: 36px;
    line-height: 38px;
  }

  .answers {
    margin: 0 !important;
    width: 90% !important;
  }

  .list {
    margin: 0 !important;
  }

  .question {
    margin: 0 !important;
    margin-top: 50px !important;
    margin: 0 auto !important;
    width: 800px !important;
    font-size: 28px !important;
    line-height: 32px !important;

    color: #ffffff;
  }

  /* .answers { */
  /* height: 310px; */
  /* } */

  .p3 {
    font-size: 18px;
    line-height: 22px;
  }

  .item label::before {
    height: 16px;
    width: 16px;
    margin-right: 20px;
    background-color: #454545;
  }

  .input label {
    font-size: 22px;
    line-height: 27px;
  }

  input:checked + label::before {
    border: 4px solid #454545;
  }

  .p4 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;
  }

  .p5 {
    margin-top: 30px;
    font-size: 16px;
    line-height: 22px;
  }

  .form-section {
    height: 100%;
    grid-area: right;
    padding: 50px;
  }

  .p6 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
  }

  .name,
  .phone {
    height: 24px;
    padding: 20px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
  }

  .submit {
    font-size: 13px;
    line-height: 18px;
    height: 40px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 900px) and (min-width: 501px) {
  .body {
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    display: none;
  }
  .background {
    overflow: hidden;
    min-width: 119vw !important;
    min-height: 119vh !important;
  }

  /* .video {
    overflow: hidden;
  } */

  .section1 {
    margin-left: 60px !important;
  }

  .section1 h1 {
    width: 850px;
    height: 260px;
    font-size: 45px !important;
    line-height: 51px !important;
    font-weight: 700 !important;
  }

  .start-test {
    width: 450px !important;
    margin-top: 50px;
  }

  .vopros {
    font-size: 30px !important;
    width: 130px !important;
    margin: 0 auto !important;
    left: 50% !important;
  }

  .num {
    left: 54% !important;
    top: 100% !important;
  }

  .video1 {
    position: absolute;
    /* width: 900px; */
    height: auto;

    top: 0 !important;
    min-width: 880vw !important;
    /* min-height: 900vh !important; */
    z-index: -100;
  }

  .answers {
    width: 700px !important;
    margin: 0 !important;
  }

  .question {
    margin: 0 auto !important;
    width: 650px !important;
    height: 160px !important;
    margin-left: 20% !important;

    margin-top: 120px !important;
    margin-bottom: 10px !important;
  }

  .item label::after {
    margin: 0 !important;
    margin-left: 90% !important;
  }

  .item label {
    max-width: 270px !important;
  }

  .item {
    width: 70% !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
  .quiz {
    max-width: 900px;
    width: 900px;
  }

  .img2 {
    left: 95% !important;
    top: 100% !important;
  }

  .img1 {
    left: 20% !important;
    top: 100% !important;
  }

  .arrow2 {
    left: 80% !important;
    top: 100% !important;
  }

  .arrow1 {
    left: 23% !important;
    top: 100% !important;
  }

  .list {
    max-width: 900px !important;
    width: 900px !important;
  }

  .quiz-head {
    position: relative;
    max-width: 900px !important;
    width: 858px !important;
    left: 0;
    right: 0;
    height: 100px !important;
    font-size: 50px !important;
  }

  .hquer {
    margin: 0 !important;
    margin-top: 40px !important;
    margin-left: 15% !important;
  }

  .gif {
    overflow: hidden;
    left: 6% !important;
    top: 35% !important;
    margin: 0 !important;
  }

  .loading {
    margin: 0 !important;
    left: 17% !important;
    top: 75% !important;
  }

  .result-section {
    width: 90% !important;
  }

  .blank {
    width: 720px !important;
    height: 800px !important ;
    display: flex !important;
    flex-wrap: wrap !important;
    left: 5% !important;
    margin-top: 10% !important;
  }

  .grid-result {
    display: flex !important;
    flex-direction: column !important;
    width: 400px !important;
    margin: 0 !important;
  }

  .name {
    position: absolute !important;

    left: 7% !important;
    bottom: 25% !important;
  }

  .phone {
    left: 7% !important;
    position: absolute !important;
    bottom: 13% !important;
  }

  .p4 {
    width: 250px !important;
    margin: 0 !important;
    margin-top: 31px !important;
    margin-left: 64px !important;
  }

  .p5 {
    margin: 0 !important;
    margin-left: 64px !important;
    margin-top: 25px !important;
  }

  .p6 {
    display: none;
  }
  .form-section {
    margin: 0 !important;
  }

  .submit {
    /* top: 100px !important; */
    left: 35px !important;
    margin: 0 auto !important;
    bottom: 0 !important;
  }

  .zend {
    width: 800px !important;
    margin-left: 6% !important;
    margin-top: 15% !important;
  }
}

@media screen and (max-width: 500px) {
  .section1 {
    margin-left: 29px !important;
    margin-top: 100px !important;
    left: 29px;
  }
  .background {
    width: 110%;
    height: 110%;
  }

  .p1 {
    font-size: 20px !important;
    line-height: 26px !important;
    margin-bottom: 38px !important;
    max-width: 250px !important;
    max-width: 331px !important;
    max-height: 130px !important ;
    margin-top: 38px !important;
  }

  .p2 {
    font-size: 18px !important;
    line-height: 21px;
    max-width: 300px;
    text-align: center;
  }

  body {
    max-height: 100vh;
    overflow: hidden;
  }

  /* .section1 {
    margin: 100px 0 0 30px;
  } */

  .section1 h1 {
    /* color: rgb(0, 255, 174); */
    width: 332px;
    height: 160px;
    font-size: 25px !important;
    line-height: 31px !important;
    font-weight: 700 !important;
    margin: 0;
    /* margin-bottom: 38px; */
  }

  .start-test {
    max-width: 332px;
    max-height: 55px;
    border-radius: 11px;
    bottom: 38%;
    margin-top: 40px;
  }

  .video1 {
    min-width: 340vw !important;
    position: fixed !important;
    transform: scale(1);
  }

  .p2 {
    font-size: 18px;
    line-height: 21px;
    max-width: 300px;
    text-align: center;
  }

  .quiz-wrapper {
    max-height: 100vh;
    /* overflow-y: hidden; */
  }

  .quiz {
    height: 400px;
    width: 400px !important;
  }

  .quiz-head {
    height: 90px !important;
    min-width: 390px !important;
    margin-top: 0 !important;
    padding-top: 42px !important;
    padding-bottom: 13px !important;
    font-size: 25px !important;
    line-height: 30px !important;
    font-weight: 600 !important;
  }
  h2 {
    margin-top: 5px !important;
    height: 90px !important;
    width: 330px !important;
  }

  .vopros {
    margin-top: -25px !important;
    left: 41% !important;
  }

  .list {
    max-width: 300px !important;
    margin-top: 90px !important;
    margin-left: 0 !important;
  }

  .img2,
  .img1,
  .arrow1,
  .arrow2,
  .num {
    bottom: 82px !important;
    left: 270px !important;
  }

  .arrow1 {
    top: 730px !important;
    left: 10px !important;
    margin-left: 10px;
    font-size: 14px !important;
  }
  .img1 {
    top: 730px !important;
    left: 10px !important;
    margin-left: -2px !important;
    transform: scale(0.75) !important;
  }

  .arrow2 {
    top: 730px !important;
    right: 10px !important;
    font-size: 14px !important;
  }

  .img2 {
    top: 730px !important;
    right: 10px !important;
    margin-left: 102px !important;
    
    transform: scale(-0.75) !important;
  }
  

  .circle {
    width: 100vw;
  }

  .processing {
    overflow: hidden;
    /* width: 100vw; */
    left: -736px !important;
    top: -82px !important;
    max-width: 340vw !important;
  }

  .loading {
    left: 124px !important;
    top: 577px !important;
    position: fixed !important;
    font-size: 20px !important;
  }

  .result2,
  .result1,
  .result3 {
    width: 10px !important;
  }

  .blank {
    overflow: hidden;
    /* width: 90% !important; */
    margin-top: 46px !important;
    max-width: 332px !important;
    margin-left: 30px !important;
    max-height: 483px !important;
  }

  .quiz-hear {
    margin-left: 534px;
    width: 400px !important;
    margin-top: 82px !important;
    height: 90px !important;
    min-width: 390px !important;
    /* margin-top: 0 !important; */
    padding-top: 42px !important;
    padding-bottom: 13px !important;
    font-size: 25px !important;
    line-height: 30px !important;
    font-weight: 600 !important;
  }

  /* .quiz-hear h2{
    fon
} */

  .describe-troubles {
    top: 3%;
    width: 75%;
  }

  .describe-head {
    font-size: 14px;
    line-height: 16px;
  }

  .describe-area {
    margin: 10px 0 10px 0;
    height: 140px;
    font-size: 10px;
    line-height: 12px;
  }

  .get-result {
    font-size: 11px;
    line-height: 13px;
  }

  .question {
    /* left: 10% !important; */
    margin-top: 31px !important;
    font-size: 20px !important;
    line-height: 24.2px !important;
    max-width: 332px !important;
    left: 0 !important;
    color: #000000 !important;
    padding-bottom: 70px !important;
  }

  .answers {
    padding-top: 40px !important;
    margin-left: none;
    margin-top: 35px;
    max-width: 80%;
    height: 58%;
  }

  .item {
    width: 332px !important;
    height: 54px !important;
    border-radius: 7px !important;
  }

  h5 {
    margin-bottom: 10px !important;
    top: 15px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    width: 300px;
    margin-left: 10px !important;
  }

  .item label::after {
    height: 12px;
    width: 12px;
    margin-right: 20px;
    /* background-color: #454545; */
  }

  .item label {
    font-size: 18px;
    line-height: 20px;
  }

  input:checked + label::after {
    border: 4px solid #454545;
  }
  .item label::after {
    margin-left: 294px !important;
    margin-top: -23px;
    width: 20px !important;
    height: 20px !important;
    border-radius: 6px !important;
  }

  .p4 {
    font-size: 10px;
    line-height: 12px;
  }

  .hquer {
    margin-left: 72px !important;
    margin-top: 200px !important;
    font-size: 13px !important;
    width: 274px !important;
    height: 43px !important;
    border-radius: 6px !important;
  }

  .num {
    margin-top: -160px;
    font-size: 12px !important;
    left: 190px !important;
  }

  .p5 {
    margin-left: 15px !important;
    margin-top: 25px !important;
    font-size: 15px !important;
    line-height: 16.5px !important;
    max-width: 50%;
  }

  .classic-4 {
    margin-top: 10px !important;
  }

  .form-section {
    overflow: hidden;
    height: 100%;
    width: 297px !important;
    margin-left: -745px;
    margin-top: 40px;
    padding: 15px;
    padding-right: 5px;
    padding-top: 10px;
  }

  .p6 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 12px;
    display: none;
  }

  .p4 {
    width: 172px !important;
    margin-top: 31px !important;
    margin-left: 18px !important;
    font-size: 20px !important;
  }

  .p5 {
    width: 297px !important;
  }
  .zend {
    overflow: hidden;
    max-width: 100% !important;
    max-height: 90% !important;
    margin-top: 113px !important;
    margin-left: 10px;
  }

  .name {
    height: 42px !important;
    padding: 10px !important;
    font-size: 10px !important;
    line-height: 12px !important;
    margin-bottom: 15px !important;
    margin-top: 235px !important;
    width: 297px !important;
    margin-left: 7px;
  }

  .phone {
    height: 42px !important;
    padding: 10px !important;
    font-size: 10px !important;
    line-height: 12px !important;
    margin-bottom: 39px !important;
    margin-top: 11px !important;
    margin-left: 7px;
    width: 297px !important;
    margin-left: 7px;
  }
  .circle {
    height: 100px;
  }

  .gif {
    left: 592px !important;
    /* margin-right: 194px !important; */
    /* right: -160px !important; */
    transform: scale(0.75);
    top: 325px !important;
  }

  .submit {
    font-size: 10px !important;
    line-height: 12px !important;
    height: 40px !important;
    border-radius: 8px !important;
    margin-left: -792px !important;
    max-width: 297px;
    margin-top: 90px !important;
  }

  .end-box {
    overflow: hidden;
    margin-left: 18px !important;
    width: 332px !important;
    height: 334px !important;
    font-size: 10px;
  }

  .text1 {
    font-size: 17px !important;
    line-height: 20px !important;
    width: 273px !important;
    margin-top: 37px !important;
    margin-left: 11px !important;
  }

  .end-box p {
    font-size: 15px !important;
    line-height: 18px !important;
    width: 311px !important;
    margin-top: 156px !important;
    margin-left: 16px !important;
  }

  .text2 {
    font-size: 17px !important;
    line-height: 17px !important;
    width: 311px !important;
    margin-top: 262px !important;
    margin-left: 10px !important;
  }

  .end-box hr {
    width: 311px !important;
    margin-top: 283px !important;
    margin-left: 10px !important;
  }

  /* .result-section {
    position: relative;
    left: 10% !important;
  } */
}

@media screen and (min-width: 1601px) {
  body {
    overflow: hidden !important;
  }
  .video1 {
    max-width: 100% !important;
    width: 1600px !important;
  }
  .question {
    width: 1100px !important;
    height: 84px !important;

    margin: 0 15% !important;
    margin-top: 70px !important;
    margin-bottom: 20px !important;
  }

  .vopros {
    margin: 0 46.5% !important;
    top: 0 !important;
    left: 0 !important;
    margin-top: 7% !important;
    bottom: 40px !important;
  }

  .list {
    margin: 0 !important;
    position: relative;
    left: 20% !important;
  }

  .item {
    margin: 0 !important;
    margin-bottom: 15px !important;
  }

  .arrow1 {
    margin: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
    top: 90% !important;
    left: 25% !important;
  }
  .arrow2 {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 90% !important;
    left: 68% !important;
  }

  .img1 {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 90% !important;
    left: 23% !important;
  }
  .img2 {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 90% !important;
    left: 75% !important;
  }
  .num {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 90% !important;
    left: 47% !important;
  }

  .hquer {
    position: relative;
    margin: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 100% !important;
    left: 28% !important;
    margin-top: 20px !important;
  }
  .gif {
    overflow: hidden;
    left: 26% !important;
    top: 10% !important;
    margin: 0 !important;
  }
  .loading {
    left: 0 !important;
    top: 0 !important;
    margin-left: 37% !important;
    top: 46% !important;
  }
  .blank {
    width: 80% !important;
    top: 0 !important;
    height: 620px !important;
    margin: 0 !important;
    left: 7% !important;
    margin-top: 4% !important;
  }
  .p5 {
    margin: 0 !important;
    width: 600px !important;
    margin-left: 78px !important;
    margin-top: 34px !important;
  }
  .name {
    margin: 0 !important;
    margin-top: 20px !important;
  }
  .phone {
    margin: 0 !important;
    margin-top: 33px !important;
  }
  .submit {
    position: relative;
    margin: 0 !important;
    left: 50% !important;
    margin-top: -4% !important;
  }
  .grid-result {
    margin: 0 !important;
    height: 620px !important;
  }

  /* .zend {
    position: relative;
    margin: 0 !important;
  } */

  .end-box {
    position: relative;
    height: 650px !important;
    margin: 0 !important;
    left: 28% !important;
    top: 0 !important;
    margin-top: 2.5% !important;
  }
  .text2 {
    margin-top: 500px !important;
  }
  hr {
    margin-top: 563px !important;
  }

  .end-box p {
    margin-left: 32px !important;
  }
}
