* {
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
  background-color: #fff;
  max-height: 1080px;
  width: 100%;
}

h5 {
  height: 30px;
  position: relative;

  margin-left: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  top: 24px;
}

.background {
  display: inline;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  /* min-height: 100vh; */
  z-index: -100;
  background: rgba(38, 93, 135, 0.28);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.block {
  margin-left: auto;
  left: 25%;
}
.video,
.video1 {
  /* transform: scale(1.2); */
  /* min-width: 100%;
  min-height: 100%; */
  z-index: -100;
  top: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video1 {
  z-index: -100;
  top: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  z-index: -100;
  top: 0;
}

.video2 {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  /* min-width: 100%;
  min-height: 100%; */
  z-index: -100;
  top: 0;
  display: none;
}

.section1 {
  margin: 184px 0 0 100px;
  /* display: block; */
  display: flex;
  flex-direction: column;
  max-height: 80%;
}

.section1 h1 {
  display: inline-block;
  /* display: flex; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 62.5px;
  /* text-transform: uppercase; */
  color: #fff5f1;
  max-width: 1012px;
  margin-bottom: 20px;
}

.p1 {
  /* display: flex; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 125%;
  margin-top: 55px;
  margin-bottom: 25px;
  color: #fff5f1;
  max-width: 960px;
}

.p2 {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  font-stretch: inherit;
  /* max-width: 350px; */
  color: #4b3937;
}

.start-test,
button {
  /* display: flex; */
  border: none;
  outline: none;
  padding: 0;
  /* background-image: url("../images/Кнопка 1.png"); */
  background-size: 100%;
  opacity: 95%;
  border-radius: 12px;
  /* width: 28%;
  height: 9%; */
  width: 560px;
  height: 93px;
  /* position: absolute; */
  left: 10%;
  top: 65%;
  left: 5%;
  /* margin-left: -75px; */
  box-shadow: black;
  /* box-shadow: inset -0.5px -0.5px 5px 0 rgba(0, 0, 0, 0.5); */
  /* inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgb(0, 229, 0); */
  animation: pulse2 3s linear infinite;
  /* margin-top: 114px; */
}

.start-test:hover {
  box-shadow: inset 0px 0px 0px 0 rgba(0, 0, 0, 0.5),
    inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgb(38, 93, 135);
  animation: none;
}

.start-test:active {
  box-shadow: inset 0px 0px 0px 0 rgba(0, 0, 0, 0.5),
    inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5), 0 0 7px rgb(38, 93, 135);
  animation: none;
}

.quiz-wrapper {
  display: flex;
  /* max-width: 1000px; */
  height: 104px;
  margin: 0 auto;
  display: none;
}

/* .quiz {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 40px #00ff84a9;
  padding: 20px;
  box-sizing: border-box;
  display: grid; */

/* grid-template-rows: 10% 1fr 30px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top"
    "mid"
    "bot";
} */

.quiz {
  width: 1920px;
}

.quiz-top {
  grid-area: top;
}

.quiz-head {
  display: flex;
  font-family: "Inter", sans-serif;
  font-style: normal;
  width: 1878px;
  height: 48px;
  font-size: 40px;
  line-height: 48px;
  color: rgba(250, 240, 236, 0.95);
  padding: 28px 7px 28px 35px;
  background: #265d87;
}

.question {
  max-width: 1735px;
  height: 42px;
  text-align: center;
  /* position: relative; */
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  color: #4b3937;
  margin-top: 153px;
  margin-bottom: 49px;
}

.p3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.p3 span {
  color: #00ff85;
}

.answers {
  margin: 0 auto;
  grid-area: mid;
  padding-bottom: 10px;
}
.vop {
  position: relative;
  width: 87px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #4b3937;
  margin: 0 auto;
  margin-top: 74px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 928px;
  padding-bottom: 10px;
  margin: 0 auto;
  height: 70%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;

  list-style-type: none;
}

.item {
  position: relative;
  background: #265d87;
  border: none;
  border-radius: 20px;
  width: 928px;
  height: 78px;
  cursor: pointer;

  margin-bottom: 24px;
  color: #ffffff;
}

.item input {
  position: absolute;
  display: none;
}

.item label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #faf0ec;
  margin-bottom: 40px;
  cursor: pointer;
  width: 928px;
  height: 78px;
  position: relative;
}
/* font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #faf0ec;
  margin-left: 40px; */

.item label::after {
  box-sizing: border-box;

  cursor: pointer;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-left: 855px;
  margin-right: 25px;
  margin-bottom: 44px;
  top: 80px;
  display: block;

  border: 3px solid #f8fcfe;
  display: inline-block;
  background: #f8fcfe;
  /* background-color: #454545; */
}

input:checked + label::after {
  border: 3px solid #f8fcfe;
  background-color: #00ff85;
}

/* .footer1 {
  display: flex;
  flex-wrap: nowrap;
} */

.describe-troubles {
  display: none;

  grid-area: mid;
  position: relative;
  top: 10%;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.describe-head {
  /* grid-area: top1; */
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.describe-area {
  box-sizing: border-box;
  /* grid-area: mid1; */
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  margin: 20px 0 20px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  resize: none;

  color: #000000;
}

.get-result {
  /* grid-area: bot1; */
  width: 100%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  height: 40px;
  border-radius: 8px;
  background-color: #00ff85;
  border: none;

  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.get-result:hover {
  box-shadow: 0 0 10px #00ff85;
}

.get-result:active {
  box-shadow: 0 0 5px #00532b inset;
}

.processing {
  grid-area: mid;
  width: 1920px;
  height: 976px;
  margin: 0 auto;
  /* background: #ffffff; */
  position: absolute;
}

.circle {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
}

.gif {
  position: relative;
  width: 679px;
  height: 382px;
  margin: 0 auto;
  top: 264px;
  left: 607px;
  right: 634px;
}

.vopros {
  width: 90px;
  height: 24px;
  position: absolute;
  top: 189px;
  left: 917px;
  right: 913px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #4b3937;
}

.grid-result {
  width: 1479px;
  height: 709px;
  background: #265d87;
  border-radius: 20px;
  margin: 0 auto;
  /* padding-bottom: 125px; */
  /* margin-top: 125px; */
}

.blank {
  width: 1479px;
  height: 709px;
  background: #265d87;
  position: relative;
  border-radius: 20px;
  top: 91px;
  margin: auto;
}

.vleank {
  width: 1479px;
  height: 555px;
  border: #00532b;
  border-radius: 20px;
}

.result1 {
  background: #fff;
  width: 99%;
  height: 45%;
}

.result2 {
  background: #fff;
  width: 99%;
  height: 45%;
}

.result3 {
  background: #fff;
  width: 99%;
  height: 45%;
}

.result-section {
  height: 100%;
  grid-area: left;
}

.p4 {
  margin-top: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #00ff85;
}

.p5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.form-section {
  max-height: 419px;
  grid-area: right;
}

.p6 span {
  color: #00ff85;
}

.submit:hover {
  box-shadow: 0 0 10px #00ff85;
}

.submit:active {
  box-shadow: 0 0 5px #00532b inset;
}

.form-section form {
  width: 100%;
  margin: 0 auto;
}

hr {
  color: #00ff85;
}

.vertical-hr {
  position: relative;
  width: 42%;
  top: -50%;
  margin: 0 auto;
  transform: rotate(90deg);
}

.img1 {
  position: absolute;
  bottom: 173px;
  left: 519px;
  top: 889px;
  right: 1387.44px;
  cursor: pointer;
}

.img2 {
  position: absolute;
  cursor: pointer;
  transform: rotate(180deg);
  bottom: 173px;
  left: 1387.44px;
  top: 889px;
  right: 519px;
}

.arrow1 {
  position: absolute;
  width: 118px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4b3937;
  top: 888px;
  bottom: 162px;
  left: 544px;
  right: 1258px;
  cursor: pointer;
  border: none;
  background: none;
}

.arrow2 {
  position: absolute;
  width: 108px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4b3937;
  top: 888px;
  bottom: 162px;
  left: 1268px;
  right: 544px;
  cursor: pointer;
  border: none;
  background: none;
}

.num {
  position: absolute;
  width: 73px;
  height: 30px;
  left: 925px;
  right: 922px;
  top: 888px;
  bottom: 162px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #4b3937;
}

.hquer {
  width: 619px;
  height: 82px;
  background: #69e676;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  box-shadow: 4px 4px 4px rgba(105, 230, 118, 0.4);
  border-radius: 13.3333px;
  border: none;
  cursor: pointer;
  margin: 48px 652px 279px 649px;
}

.grid-result {
  display: grid;
  height: 100%;
  width: 1479px;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
  grid-template-areas: "left right";
}

.result-section {
  height: 100%;
  grid-area: left;
}

.p4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin-left: 78px;
  margin-top: 100px;

  color: #faf0ec;
}

.p5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: rgba(250, 240, 236, 0.95);
  width: 553px;
  height: 338px;
  margin-left: 78px;
  margin-top: 34px;
}

.form-section {
  height: 100%;
  grid-area: right;
}

.p6 {
  margin-top: 40px;

  width: 616px;
  height: 90px;
  margin-top: 170px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
}

span {
  color: #00ff85;
}

.name,
.phone {
  box-sizing: border-box;
  width: 619px;
  height: 71px;
  outline: none;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #4b3937;
  border-radius: 0;
  border: none;

  background: #f8fcfe;
  box-shadow: inset 4px 4px 4px rgba(75, 57, 55, 0.62);
  border-radius: 13.3333px;
  margin-top: 44px;

  /* identical to box height */

  color: #000000;
}

.submit {
  width: 619px;
  height: 82px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  background: #69e676;
  box-shadow: 4px 4px 4px rgba(105, 230, 118, 0.4);
  border-radius: 13.3333px;
  border: none;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
  position: relative;
  left: 837px;
  bottom: 65px;
  margin: 0;

  color: #4b3937;
}

.submit:hover {
  box-shadow: 0 0 10px #00ff85;
}

.submit:active {
  box-shadow: 0 0 5px #00532b inset;
}

.form-section form {
  width: 100%;
  margin: 0 auto;
}

.zend {
  /* display: none; */
  /* background: #fff; */
  position: absolute;

  width: 1920px;
  height: 976px;
}

.end-box {
  width: 620px;
  height: 709px;
  background: #265d87;
  z-index: -100;

  border-radius: 20px;
  top: 91px;
  margin: auto;
  margin-top: 106px;
}

.text1 {
  width: 548px;
  height: 90px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #faf0ec;
  margin-top: 66px;
  margin-left: 32px;
  position: absolute;
}

.end-box p {
  width: 562px;
  height: 136px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28.024px;
  margin-left: 29px;
  margin-top: 226px;
  line-height: 34px;
  color: #faf0ec;
  position: absolute;
}

.text2 {
  width: 556px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 31.7605px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-top: 574.5px;
  margin-left: 32px;
}

.end-box hr {
  color: #69e576;
  border: none;
  width: 556px;
  height: 2px;
  margin-top: 623px;
  position: absolute;
  margin-left: 32px;
  background: #69e576;
}

/* @property --num {
  syntax: "<integer>";
  initial-value: 0%;
  inherits: false;
}

.load {
  animation: counter 3s infinite alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;
}
.load::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
} */

.loading {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #4b3937;
  width: 343px;
  height: 49.07px;
  left: 810px;
  right: 767px;
  top: 621.93px;
  bottom: 353px;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.sub {
  width: 1479px;
  height: 709px;
  background: none;
  position: absolute;
  border-radius: 20px;
  top: 91px;
  margin: auto;
}
