@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    background: #000;
    position: relative;
width: 1920px;
height: 1080px;
}



.intro {
    position: absolute
}

.intro-content {
   font-family: 'Montserrat' , sans-serif;
    position: absolute;
    top: 242px;
    left: 150px;
    right: 513px;
    color: #00FF85;
}

.intro-content h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    


}

.intro-content h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
}

.close-content {
    position: absolute;
width: 315px;
height: 66px;
left: 148px;
top: 840px;

}

.close-content h4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}

.intro-media {
    max-width: 1900;
} 

video {
    width: 100%;
    /* height: 100vh; */
}

.btn{
    position: absolute;
    width: 166px;
    height: 166px;
    left: 877px;
    top: 778px;
    /* padding: 0 ; убрать тень на кнопке */ 
    
    background: #00F47F;
        /* margin: 4px 2px; */
        border-radius: 50%;
        animation: shadow 1s ease infinite;
    }

    @keyframes shadow {
        0% {
          box-shadow: 0 0 0 0 #00F47F;
        }
        100% {
          box-shadow: 0 0 0 40px rgba(55, 141, 250, 0);
        }
      }

.btn p{
    font-family: 'Montserrat';
    position: fixed;
    width: 142px;
    height: 93px;
    left: 889px;
    top: 820px;
    bottom: 167px;
    margin: 0;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
}
